substitutions:
  name: nodemcu
  light_button_pin: D7
  inverted: true
  friendly_name: Bed

esp8266:
  board: nodemcu

packages:
  base: !include base.yaml
  light_button: !include light_button.yaml

sensor:
  - platform: dht
    pin: D2
    temperature:
      name: "Temperature"
    humidity:
      name: "Humidity"
  - platform: ccs811
    eco2:
      name: "eCO2 Value"
    tvoc:
      name: "Total Volatile Organic Compound"
    address: 0x5A
    update_interval: 60s

i2c:
  scl: D5
  sda: D6

# remote_transmitter:
#   pin:
#     number: D5
#     inverted: false
#   # RF uses a 100% carrier signal
#   carrier_duty_percent: 100%

# button:
#   - platform: template
#     name: Bedroom TV toggle
#     on_press:
#       - remote_transmitter.transmit_sony:
#           data: 0x00000A90
#           nbits: 12
