Sublime Text 2/Backup/
Sublime Text 2/Packages/User/ChangeList.json
Sublime Text 2/Settings/Auto Save Session.sublime_session
Sublime Text 2/Settings/Session.sublime_session
*.pyc
*.cache
.DS_Store
Package Control.last-run
*.so
