Sublime Text 2/Backup/
Sublime Text 2/Packages/User/ChangeList.json
Sublime Text 2/Settings
Sublime Text 2/Pristine Packages
Sublime Text 2/Installed Packages

*.pyc
*.cache
.DS_Store
Package Control.last-run
*.so
Sublime Text 2/Packages/*
!Sublime Text 2/Packages/User
