Sublime Text 3/Packages/*
!Sublime Text 3/Packages/User/
Sublime Text 3/Backup/
Sublime Text 3/Packages/User/ChangeList.json
Sublime Text 3/Settings
Sublime Text 3/Pristine Packages
Sublime Text 3/Installed Packages

.crystal
*.pyc
*.cache
Package Control.last-run
*.so
*.tmtheme
*-ca-bundle
.DS_Store
*.retry
*.crt