---
- alias: Any Entered house
  id: any_enter_house
  trigger:
    platform: state
    entity_id: group.all_devices
    to: "home"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Someone entered house. Downstairs AC is on.
    - service: switch.turn_on
      entity_id: switch.downstairs_ac

- alias: All left home
  id: all_leave_house
  trigger:
    platform: state
    entity_id: group.all_devices
    to: "not_home"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: All have left the house, Both ACs have been switched off
    - service: switch.turn_off
      entity_id: switch.downstairs_ac
    - service: switch.turn_off
      entity_id: switch.upstairs_ac

- alias: Downstairs Button Pressed
  id: button_pressed
  trigger:
    - platform: webhook
      webhook_id: button_pressed
  action:
    - service: light.toggle
      entity_id: light.bedroom_light

- alias: Downstairs Button double Pressed
  id: button_pressed
  trigger:
    - platform: webhook
      webhook_id: button_double_pressed
  action:
    - service: switch.toggle
      entity_id: switch.downstairs_ac

- alias: We are going to bed
  id: moved_upstairs
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "on"
    - platform: time
      at: "23:59:00"
    - platform: webhook
      webhook_id: button_long_pressed
  condition:
    - condition: state
      entity_id: group.all_devices
      state: "home"
    # - condition: time
    #   after: '20:00:00'
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "off"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: We have come to bed, AC downstairs is off, AC upstairs is on
    # - service: switch.turn_on
    #   entity_id: switch.upstairs_ac
    - service: climate.turn_on
      entity_id: climate.upstairs_ac
    - service: climate.set_temperature
      data:
        entity_id: climate.upstairs_ac
        temperature: 23
        hvac_mode: cool
    - service: light.turn_off
      entity_id: light.bedroom_light
    - service: switch.turn_on
      entity_id: switch.upstairs_tv
    - service: switch.turn_on
      entity_id: switch.upstairs_speaker
    - service: switch.turn_off
      entity_id: switch.downstairs_ac
    - service: input_boolean.turn_on
      data:
        entity_id: input_boolean.we_are_in_bed

- alias: We are in bed, increase temperature 1
  id: upstairs_ac_temp_up_1
  trigger:
    - platform: time
      at: "1:30:00"
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Upstairs temperature at 24
    - service: climate.set_temperature
      data:
        entity_id: climate.upstairs_ac
        temperature: 24

- alias: We are in bed, increase temperature 2
  id: upstairs_ac_temp_up_2
  trigger:
    - platform: time
      at: "3:30:00"
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Upstairs temperature at 25
    - service: climate.set_temperature
      data:
        entity_id: climate.upstairs_ac
        temperature: 25

- alias: We are in bed, set fan mode
  id: upstairs_ac_fan
  trigger:
    - platform: time
      at: "6:00:00"
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Upstairs AC on fan
    - service: climate.set_hvac_mode
      data:
        entity_id: climate.upstairs_ac
        hvac_mode: fan_only
    - service: climate.set_fan_mode
      data:
        entity_id: climate.upstairs_ac
        fan_mode: lowMedium

- alias: We are heading down on workdays
  id: moved_downstairs_work
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "off"
    - platform: time
      at: "08:00:00"
    - platform: webhook
      webhook_id: button_long_pressed
  condition:
    - condition: time
      after: "07:00:00"
      before: '22:00:00'
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri
    - condition: state
      entity_id: group.all_devices
      state: "home"
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action: &going_down_actions
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: We are going downstairs, AC downstairs is on, AC upstairs is off
    - service: switch.turn_off
      entity_id: switch.upstairs_ac
    # - service: switch.turn_on
    #   entity_id: switch.downstairs_ac
    - service: input_boolean.turn_off
      data:
        entity_id: input_boolean.we_are_in_bed

- alias: We are heading down on holidays
  id: moved_downstairs_holiday
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "off"
    - platform: time
      at: "10:00:00"
  condition:
    - condition: time
      after: "07:00:00"
      before: '22:30:00'
      weekday:
        - sun
        - sat
    - condition: state
      entity_id: group.all_devices
      state: "home"
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action: *going_down_actions
