---
- alias: Any Entered house
  id: any_enter_house
  trigger:
    platform: state
    entity_id: group.all_people
    to: home
  action:
    - service: script.notify_mqtt
      data:
        target: home_enter
        message: Someone entered house. Downstairs AC is on.
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Someone entered house. Downstairs AC is on.
    - service: script.downstairs_ac
      data:
        mode: cool

- alias: All left home
  id: all_leave_house
  trigger:
    platform: state
    entity_id: group.all_people
    to: not_home
  action:
    - service: script.notify_mqtt
      data:
        target: home_enter
        message: All have left the house, Both ACs have been switched off
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: All have left the house, Both ACs have been switched off
    - service: script.downstairs_ac
      data:
        mode: "off"
    - service: climate.turn_off
      entity_id: climate.upstairs_ac
    - service: light.turn_off
      entity_id: light.bedroom_light
    - service: input_boolean.turn_off # cleanup, just in case
      data:
        entity_id: input_boolean.we_are_in_bed

- alias: Downstairs Button Pressed
  id: button_pressed
  trigger:
    - platform: webhook
      webhook_id: button_pressed
  action:
    - service: script.downstairs_ac
      data_template:
        mode: >
          {{ '{% if is_state("climate.downstairs_ac", "off") %}
            cool
          {% else %}
            off
          {% endif %}' }}

- alias: Downstairs Button double Pressed
  id: button_pressed
  trigger:
    - platform: webhook
      webhook_id: button_double_pressed
  action:
    - service: light.toggle
      entity_id: light.bedroom_light

- alias: We are going to bed
  id: moved_upstairs
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "on"
    - platform: time
      at: "23:59:00"
    - platform: webhook
      webhook_id: button_long_pressed
    - platform: state
      entity_id: input_boolean.we_are_going_upstairs
      to: "on"
  condition:
    - condition: state
      entity_id: group.all_people
      state: home
    # - condition: time
    #   after: '20:00:00'
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "off"
  action:
    - service: script.notify_mqtt
      data_template:
        target: in_bed
        message: We have come to bed, AC downstairs is off, AC upstairs is on, triggered by the {{ '{{ trigger.platform }}' }} trigger
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: We have come to bed, AC downstairs is off, AC upstairs is on
    - service: climate.set_temperature
      data:
        entity_id: climate.upstairs_ac
        temperature: 23
        hvac_mode: cool
    - service: climate.set_fan_mode
      data:
        entity_id: climate.upstairs_ac
        fan_mode: low
    - service: light.turn_off
      entity_id: light.bedroom_light
    - service: script.toggle_tv
      data:
        tv_state: "on"
    - service: script.downstairs_ac
      data:
        mode: "off"
    - service: input_boolean.turn_on
      data:
        entity_id: input_boolean.we_are_in_bed
    - service: input_boolean.turn_on
      data:
        entity_id: input_boolean.we_are_going_upstairs


- alias: Start Sleep timer
  id: start_sleep_timer
  trigger:
    - platform: webhook
      webhook_id: tv_sleep_timer
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: script.notify_mqtt
      data:
        target: sleep_timer
        message: We have come to bed, AC downstairs is off, AC upstairs is on
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Sleep Timer - TV will be turned off in 20 min
    - service: timer.cancel
      entity_id: timer.tv_sleep_timer
    - service: script.downstairs_ac
      data:
        mode: "off" # audio feedback
    - service: timer.start
      data:
        entity_id: timer.tv_sleep_timer
        duration: 00:20:00

# Home assistant cannot use the same trigger with multiple automations
- alias: Sleep timer triggered
  trigger:
    - platform: event
      event_type: timer.finished
      event_data:
        entity_id: timer.tv_sleep_timer
    - platform: webhook
      webhook_id: tv_sleep_timer_trigger
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
    - condition: state
      entity_id: timer.tv_sleep_timer
      state: active
  action:
    - service: script.notify_mqtt
      data:
        target: sleep_timer
        message: Sleep Timer - TV turned off
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Sleep Timer - TV turned off
    - service: timer.cancel
      entity_id: timer.tv_sleep_timer
    - service: script.toggle_tv
      data:
        tv_state: "off"

- alias: We are in bed, increase temperature 1
  id: upstairs_ac_temp_up_1
  trigger:
    - platform: time
      at: "2:00:00"
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: script.notify_mqtt
      data:
        target: in_bed
        message: Upstairs temperature at 24
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Upstairs temperature at 24
    - service: climate.set_temperature
      data:
        entity_id: climate.upstairs_ac
        temperature: 24
    - service: climate.set_fan_mode
      data:
        entity_id: climate.upstairs_ac
        fan_mode: night

- alias: We are in bed, increase temperature 2
  id: upstairs_ac_temp_up_2
  trigger:
    - platform: time
      at: "5:00:00"
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: script.notify_mqtt
      data:
        target: in_bed
        message: Upstairs temperature at 25
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Upstairs temperature at 25
    - service: climate.set_temperature
      data:
        entity_id: climate.upstairs_ac
        temperature: 25

- alias: We are in bed, set fan mode
  id: upstairs_ac_fan
  trigger:
    - platform: time
      at: "7:00:00"
  condition:
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action:
    - service: script.notify_mqtt
      data:
        target: in_bed
        message: Upstairs AC on fan
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Upstairs AC on fan
    - service: climate.set_hvac_mode
      data:
        entity_id: climate.upstairs_ac
        hvac_mode: fan_only
    - service: climate.set_fan_mode
      data:
        entity_id: climate.upstairs_ac
        fan_mode: lowMedium

- alias: We are heading down on workdays
  id: moved_downstairs_work
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "off"
    - platform: time
      at: "08:00:00"
    - platform: state
      entity_id: input_boolean.we_are_going_upstairs
      to: "off"
  condition:
    - condition: time
      after: "07:00:00"
      before: '22:00:00'
      weekday:
        - mon
        - tue
        - wed
        - thu
        - fri
    - condition: state
      entity_id: group.all_people
      state: home
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action: &going_down_actions
    - service: script.notify_mqtt
      data_template:
        target: in_bed
        message: We are going downstairs, AC downstairs is on, AC upstairs is off, triggered by the {{ '{{ trigger.platform }}' }} trigger
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: We are going downstairs, AC downstairs is on, AC upstairs is off
    - service: climate.turn_off
      entity_id: climate.upstairs_ac
    - service: script.downstairs_ac
      data:
        mode: cool
    - service: input_boolean.turn_off
      data:
        entity_id: input_boolean.we_are_in_bed
    - service: input_boolean.turn_off
      data:
        entity_id: input_boolean.we_are_going_upstairs

- alias: We are heading down on holidays
  id: moved_downstairs_holiday
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "off"
    - platform: time
      at: "10:00:00"
  condition:
    - condition: time
      after: "07:00:00"
      before: '22:30:00'
      weekday:
        - sun
        - sat
    - condition: state
      entity_id: group.all_people
      state: home
    - condition: state
      entity_id: input_boolean.we_are_in_bed
      state: "on"
  action: *going_down_actions
