homeassistant:
  # Name of the location where Home Assistant is running
  name: Gondor
  # Location required to calculate the time the sun rises and sets
  latitude: {{home_lat}}
  longitude: {{home_long}}
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Singapore
  # Customization file
  # customize: !include customize.yaml

# Show links to resources in log and frontend
# introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  base_url: http://hass.middle.earth
  use_x_forwarded_for: true
  trusted_proxies: 127.0.0.1

logger:
  default: info
# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# # Track the sun
# sun:

system_health:

# Sensors
# sensor:
  # Weather prediction
  # - platform: yr

# Text to speech
tts:
  - platform: google_translate

# Cloud
cloud:

switch:
  - platform: broadlink
    host: blackbean1
    mac: '78:0F:77:50:98:D3'
    switches:
      upstairs_ac:
        friendly_name: Aircon
        # 21C
        # command_on: JgBQAg0ODw8MEQ0PDBAMAANFcDsMLAwRDBEMEQwsCxEMEQwQCxEMLA0RDCwMLAwSDCsNLAwtDC0MLAwRDBAMLQwQDBEMEAwQDBEMEAwQDRELEAwSDCsMEQwsDBEMEAwRDCwMLQwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEA0QDBAMEQwQDC0MLAwtDBANLAwRDCwMLQwABHtwOwwsDRAMEAwRDCwMEQwQDBANEAwtDBAMLQwsDRAMLA0sDC0MLQwsDRAMEAwtDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwtDBAMEA0QDBAMLQwQDC0MLQwQDC0MLQwQDC0MLA0sDC0MEAwRDBAMEA0QDBAMEQwsDBEMEAwtDCwNEAwQDAAEfHA6DC0MEAwQDRAMLQwQDBAMEQwQDC0MEAwtDC0MEAwtDCwNLAwtDC0MEAwQDSwMEQwQDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwQDBEMEAwQDRAMLA0QDBAMLQwtDCwNEAwQDBEMLAwRDCwMEQwsDRAMEAwRDBAMEAwRDBAMEQwQDBAMEQwQDBAMEQwQDC0MEAwtDBAMEQwQDBAMEQwQDBEMEAwRDBAMEAwQDBEMEAwQDRAMEAwtDC0MEAwQDBEMEAwRDBAMEAwRDBAMEA0sDC0MEAwRDBAMEAwRDBAMEA0QDBAMEQwQDBAMEQwQDBAMEQwQDBEMDw0RDBEMEAwPDC0MLQwQDBEMEAwQDBEMEAwQDBENDwwRDBAMEAwRDBAMEAwRDCwNLAwRDCwMLQwtDBAMEA0ADQUAAAAAAAAAAA==
        # 22C
        # command_on: JgBQAg0QDBAMEQwQDBAMAANFcDsMLA0QDBAMEQwsDBEMEAwQDRAMLQwQDC0MLAwRDCwNLAwtDC0MLA0QDBAMLQwQDAwREAwQDRAMEAwRDBAMEAwQDSwMEQwsDRAMEAwRDCwMLQwPDhAMEAwRDBAMEAwRDBAMEA0QDBAMEQwQDBAMEQwQDC0MLA0sDBEMLAwRDCwMLQwABHxvOwwtDBAMEAwRDCwNEAwQDBEMEAwtDBAMLQ0rDRAMLQwsDSwMLQwtDBAMEAwtDBANEAwQDBEMDw0QDBEMEAwQDBEMEAwtDBAMEQwQDBAMLQwQDSwMLQwQDC0MLQwPDS0MLQwsDC0NDw0QDBAMEQwQDBAMEQwsDRAMEAwtDC0MEAwQDAAEfG87DC0MEAwRDBAMLQwQDQ8NEAwPDS0MEAwtDC0MEAwtDSwMLAwtDC0MEAwRDCwMEQwQDBAMEQwPDRANEAwQDBEMEAwQDBEMEAwQDRAMEAwRDBAMLQwQDBAMLQwtDC0MEAwQDBEMEAwtDCwNEAwtDBAMEA0QDBAMEQwQDBAMEQwQDBAMEQwQDBANEAwQDC0MEAwtDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwQDRAMEAwRDBAMEAwtDC0MEAwQDRAMEAwRDBAMEAwRDBAMEA0sDC0MEAwRDBAMEA0QDBAMEA0QDBAMEQwQDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwQDC0MLQwQDBEMEAwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEA0QDCwNEAwtDCwMLQwtDBAMEQwADQUAAAAAAAAAAA=
        # 23C
        # command_on: JgBSAg0QDBEMEAwQDAADRXA6DC0MEQwQDBELLQwRCxEMEQsRDCwMEQwsDC0MEA0sDC0NLAwsDC0MEQwRDCwMEAwRCxEMEQsQDBEMEAwRDRAMEAwsDRAMLAwRDBAMEAwtDC0MEAwQDBEMEAwRDBAMEAwRDBAMEAwRDBAMEA0QDBELEQ0rDC0MLQwQDC0MEAwtDC0MAAR7cDoNLAwRDBAMEAwtDBANEAwQDBEMLAwRDCwMLQwQDSwMLQwtDCwMLQwQDRAMLQwQDBANEAwRDBANEAwPDBEMEAwQDBENKw0QDQ8MEA0QDC0MEAwQDC0MEA0sDC0MEAwtDC0MLQwsDBEMEAwQDBEMEAwQDSwMEQwQDBAMLQwtDBAMEQwABHtwOgwtDBANEAwQDC0MEAwSDA8MEAwtDBEMLAwtDBANLAwtDCwNLA0sDQ8NEAwsDRAMEAwRDBAMEAwRDBAMEAwQDRAMEQwQDBAMEQwQDBAMEQwQDC0MEAwRDCwMLQwtDBAMEQwQDC0MLAwtDBANLA0QDBAMEAwRDBAMEA0QDBAMEQwQDA8NEQwQDBAMEQwsDRAMLQwQDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwQDBEMEAwQDRAMLQwsDBEMEAwQDRAMEAwRDBAMEAwSDA8MLQwsDRAMEAwRDBAMEAwRDBAMEA0QDBAMEQwQDBAMEQwQDBAMEgwNDhANEAwQDBEMEAwtDCwNDQ8QDBEMEAwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEAwtDC0MLQwsDC0MLQwQDBEMAAr0CgANBQAAAAAAAA==
        # 24C
        command_on: JgBQAg0PDBANEAwQDBEMAANFbzsMLQwPDREMEAwtDBAMEAwRDBAMLQwQDC0MLQwQDC0MLA0sDC0MLQwQDBANLAwRDBAMEAwRDBAMEAwRDBAMEQwQDC0MEAwtDBAMEA0QDC0MLAwRDBAMEA0QDBAMEQwQDBAMEQwQDBANEAwQDBANEAwQDC0MLQwsDRAMLA4NDi0MLAwABHxvOwwtDBAMEQwQDC0MEAwQDRAMEAwtDBAMLQwtDBAMLQwtDCwMLQwtDBAMEQwsDBEMEAwQDRAMEAwQDRAMEAwRDBAMEAwtDBANEAwQDBEMLAwRDCwMEQwQDC0MLQwQDC0MLA0sDC0MEAwQDRAMEA0QDBAMEQwQDBAMEQwsDC0MEA0QDAAEe3A7DCwMEQwQDBANLA0QDBAMEAwRDCwNEAwsDSwMEQwsDC0MLQwtDCwMEQwQDC0MEAwQDRAMEAwRDBAMEAwRDBAMEA0QDBAMEQwQDBAMEQwQDBANLAwQDRAMLQwsDC0MEA0QDBAMEQwQDBAMLQwtDBAMEQwQDBAMEQwQDBAMEQwQDBANEAwQDBEMEAwQDC0MEA0sDBEMEAwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEAwRDBAMEA0sDC0MEAwRDBAMEAwRDBAMEA0QDBAMEQwsDC0MEA0QDBAMEQwQDBAMEQwQDBANEAwQDBANEAwQDBEMEAwQDBEMEAwQDRAMEAwRDCwMLQwQDRAMEAwQDRAMEAwRDBAMEAwRDBAMEA0QDBAMEA0QDC0MEAwQDBEMEAwQDSwNEAwADQUAAAAAAAAAAA==
        #25C
        # command_on: JgBQAg0QDQ8MEQwQDBAMAANGbzsNLAwQDBAMEQwsDRAMEAwRDBAMLQwQDC0NKw0QDCwNLAwtDC0NKw0QDBAMLQwQDBEMEAwQDRAMEAwRDBAMEAwRDCwNEAwsDRAMEAwRDCwMLQ0PDRAMEAwRDBAMEAwRDBAMEA0QDBAMEA0QDBAMEQwQDC0MLA0sDBEMLAwRDCwNLA0ABHtwOgwtDQ8MEA0QDCwNEAwQDBEMEAwtDBAMLQwtDBAMLQwsDSwMLQwtDBAMEA0sDBEMEAwQDBEMEAwQDBEMEAwQDRAMEAwtDBAMEQwQDBAMLQwQDRAMEAwRDCwNLAwQDSwMLQwtDSsMEQwQDBANEAwQDBEMLAwtDC0NLAwQDC0MEAwQDAAEfG87DC0MEAwRDBAMLQwQDBANEAwQDC0MEAwtDC0MEAwtDC0MLAwtDC0NDwwRDSsMEQwQDBANEAwQDBEMEAwQDBEMEAwQDRAMEAwQDRAMEAwRDBAMLQwQDBANLAwtDC0MEAwQDBEMLA0QDBAMLQwtDBAMEA0QDBAMEQwQDBAMEQwQDBAMEQwQDBANEAwQDC0MEAwtDBANEAwQDBEMEAwQDBEMEAwQDRAMEAwQDRAMEAwRDBAMEAwtDC0MEAwRDBAMEAwRDBAMEA0QDBAMEQwsDC0NDwwRDBAMEA0QDBAMEQwQDBAMEQwQDBANEAwQDBANEAwQDBEMEAwQDBEMEAwQDSwMLQwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEAwRDBAMEA0QDC0MLAwRDBAMEA0QDCwNEAwADQUAAAAAAAAAAA==
        command_off: JgBQAg0PDBANEA4ODg4OAANEcTkOKw4ODg8ODg4rDg4ODw4ODg4OKw4ODisOKw4ODisOKw4rDioMLQ4ODg8MLQ4ODg4MEQwQDg4NEAwQDBANEAwQDC0MEA4rDg8ODg4ODisOKw4ODg8ODg4ODg8ODg4ODg8ODg4PDg4ODg4PDg4ODg4PDioPKg4rDg4OKw4ODyoOKw4ABHpvOwwtDBAMEQwQDC0MEAwQDRAMEAwtDBAMLQwtDBAMLQwtDCwNKw0tDBAMEQwsDRAMEA4ODRAMEA4PDQ8ODg4PDg4ODg4rDg8ODg4ODg8OKg4PDg4ODw4qDg8OKg8qDisODg4rDg4PDg4ODg8ODg4ODg8OKg8ODg4OKw4ODg8OKg8qDgAEenE5DisODg4PDg4OKw4ODg8ODg4ODisODg8qDisODg4rDisOKw4qDisODg4PDisODg4ODg8ODg4ODg8ODg4PDg4ODg4PDg4ODg4PDg4ODw4ODg4ODw4ODg4OKw4rDisODg4ODg8ODg4rDg4OKw4rDg4ODg4PDg4ODw4ODg4ODw4ODg8NDwwQDg8ODg4ODSwODg0sDBENDwwQDg8ODgwQDg8MEAwRDBAMEA0QDBAMEA0QDBAMEQwsDSwMEA0QDBAMEQwQDBANEAwQDBANEAwtDCwNEAwQDBANEAwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEAwRDBAMEA0QDBANEAwQDC0MLA0QDBAMEQwQDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwQDRAMEAwtDBAMEQwQDC0MEAwADQUAAAAAAAAAAA==
      upstairs_tv:
        friendly_name: TV
        command_on: JgBIAAABJZcQFRAVEBUQFREVEBUQORAVETkQOhA5EDoQORE5EBUQOhAVEDkRFRAVEDoQFRAVEBUQOhAVEDkRORAVEDoQORA6EAANBQ==
        command_off: JgBIAAABJZcQFRAVEBUQFREVEBUQORAVETkQOhA5EDoQORE5EBUQOhAVEDkRFRAVEDoQFRAVEBUQOhAVEDkRORAVEDoQORA6EAANBQ==
      upstairs_speaker:
        friendly_name: Speaker
        command_on: JgBQAAABJpYQFBAUEBUQFBAUEBUQORAVEDkQOhA5EDoQORE5EBQRORAUEBUQFBAUEDoQFBAVEBQQORE5EDoQOQ8WDzoPOw86EAAF2AABJk0QAA0FAAAAAAAAAAA=
        command_off: JgBQAAABJpYQFBAUEBUQFBAUEBUQORAVEDkQOhA5EDoQORE5EBQRORAUEBUQFBAUEDoQFBAVEBQQORE5EDoQOQ8WDzoPOw86EAAF2AABJk0QAA0FAAAAAAAAAAA=
  - platform: rest
    resource: http://nodemcu.middle.earth/ac
    name: Downstairs AC

smartir:

climate:
  - platform: smartir
    name: Upstairs AC
    unique_id: upstairs_ac
    device_code: 1101
    controller_data: blackbean1
    #smart IR only supports broadlink on this AC
  # - platform: smartir
  #   name: Downstairs AC
  #   unique_id: downstairs_ac
  #   device_code: 1101
  #   controller_data: ac/command/nodemcu

device_tracker:
  - platform: ping
    consider_home: 1200 # 20 min
    hosts:
      anu: Redmi4X-Redmi
      kt: mia2lite
  # - platform: nmap_tracker
  #   hosts:
  #     - Redmi4X-Redmi
  #     - mia2lite

input_boolean:
  we_are_in_bed:
    name: We are in bed at night
    initial: off
    icon: mdi:bed-empty

light:
  - platform: flux_led
    devices:
      smart_light.middle.earth:
        name: Bedroom Light
group:
  upstairs:
    name: Upstairs
    entities:
      - switch.upstairs_ac
      - light.bedroom_light
      - switch.upstairs_tv
      - switch.upstairs_speaker
  downstairs:
    name: Downstairs
    entities:
      - switch.downstairs_ac

notify:
  - name: pushbullet
    platform: pushbullet
    api_key: {{pushbullet_access_token}}

recorder:
  purge_keep_days: 14
  purge_interval: 1

mqtt:
  broker: localhost
  port: 1883

owntracks:

person:
  - name: Anu
    id: anu
    device_trackers:
      - device_tracker.wionacmx_redmi
      - device_tracker.anu
  - name: Kt
    id: kt
    device_trackers:
      - device_tracker.wionacmx_mia2lite
      - device_tracker.kt
zone:
  # This will override the default home zone
  - name: Home
    latitude: {{home_lat}}
    longitude: {{home_long}}
    radius: 200
    icon: mdi:home

# group: !include groups.yaml
automation: !include automations.yaml
# script: !include scripts.yaml
