---
notify_mqtt:
  sequence:
    - service: mqtt.publish
      data_template:
        payload: "{{ '{{ message }}' }}"
        topic: notify/hass/{{ '{{ target }}'}}
        qos: 1
downstairs_ac:
  sequence:
    - service_template: climate.{{ '{{operation}}' }}
      entity_id: climate.downstairs_ac
    - service: scene.apply
      data:
        entities:
          climate.downstairs_ac:
            temperature: 23
            fan_mode: auto
            hvac_mode: cool
    # - service: climate.set_temperature
    #   data:
    #     entity_id: climate.upstairs_ac
    #     temperature: 23
    #     hvac_mode: cool
    # - service: climate.set_fan_mode
    #   data:
    #     entity_id: climate.upstairs_ac
    #     fan_mode: auto
toggle_tv:
  alias: Toggle TV State
  # these fields dont seem to be present in 0.97
  #icon: mdi:youtube-tv
  # fields:
  #   tv_state:
  #     description: "State to set, on or off"
  #     example: off
  sequence:
    - service_template: switch.turn_{{ '{{tv_state| default("off")}}' }}
      entity_id: switch.upstairs_tv
    - service_template: switch.turn_{{ '{{tv_state| default("off")}}' }}
      entity_id: switch.upstairs_speaker