---
- alias: Any Entered house
  trigger:
    platform: state
    entity_id: group.all_devices
    to: "home"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: Someone entered house. Downstairs AC is on.

- alias: All left home
  trigger:
    platform: state
    entity_id: group.all_devices
    to: "not_home"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: All have left the house, AC has been switched off
    - service: switch.turn_off
      entity_id: switch.ac

- alias: We are in bed
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "on"
    - platform: time
      at: '23:00:00'
  condition:
    condition: state
    entity_id: group.all_devices
    to: "home"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: We have come to bed, AC downstairs is off, AC upstairs is on

- alias: We are heading down
  trigger:
    - platform: state
      entity_id: binary_sensor.phone_charging
      to: "off"
    - platform: time
      at: '07:30:00'
      weekday:
        - mon
        - tue
        - wed
        - thurs
        - fri
    - platform: time
      at: '09:30:00'
      weekday:
        - sat
        - sun
  condition:
    - condition: time
      after: '07:30:00'
      before: '09:30:00'
    - condition: state
      entity_id: group.all_devices
      to: "home"
  action:
    - service: notify.pushbullet
      data:
        title: Gondor Home Assistant
        message: We are going downstairs, AC downstairs is on, AC upstairs is off