homeassistant:
  # Name of the location where Home Assistant is running
  name: Gondor
  # Location required to calculate the time the sun rises and sets
  latitude: 0
  longitude: 0
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Asia/Singapore
  # Customization file
  # customize: !include customize.yaml

# Show links to resources in log and frontend
# introduction:

# Enables the frontend
frontend:

# Enables configuration UI
config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  base_url: http://hass.middle.earth
  use_x_forwarded_for: true
  trusted_proxies: 127.0.0.1

logger:
  default: info
# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

system_health:

# Sensors
sensor:
  # Weather prediction
  - platform: yr

# Text to speech
tts:
  - platform: google

# Cloud
cloud:

switch:
  # - platform: command_line
  #   switches:
  #     bed_room:
  #       command_on: python -m flux_led smart_light -0
  #       command_off: switch_command off kitchen

  - platform: broadlink
    host: blackbean1
    mac: '78:0F:77:50:98:D3'
    switches:
      upstairs_ac:
        friendly_name: Aircon
        command_on: JgBUAgkABRoNDw4PDQ8NDw4PDQADPnY6DC0MEA0QDAsRLQwQDBEMEAwQDSwMEQwsDSwNDwwtDSwNLA0rDisNDw0QDSsODw0PDg8NDw0PDg8NDw0QDQ8NDw0sDQ8OKw0PDg8NDw0sDSwNDw0PDg8NDw0QDQ8NDw4PDQ8NDw4PDQ8NEA0PDQ8ODw0rDisNLA4ODisODw0rDisOAAR5cjkOKg8ODg4PDg4qDw4ODg4ODw4OKg8ODisOKg8ODioPKg8qDisOKg8ODg4PKg4ODw4ODg4ODw4ODg4ODw4ODg8ODg4OKw4ODg4PDg4ODyoODg8qDisODg4rDg4PDg4qDw4OKg8ODisODg4ODw4ODg0PDw4ODg4rDg4ODw4qDw4OKg8ABHlyOA8qDg4PDg4ODyoODg8ODg4ODg8qDw4OKg8qDg4PKg8qDisOKg8qDg4PDg4qDw4ODg8ODg4ODg8ODg4PDg4ODg4PDg4ODg4PDg4ODw0PDg4ODyoODg8ODioPKg8qDg4PDg4ODg4PDg4ODyoOKw4ODg4PDg4ODg4PDg4ODw4ODg4ODw4ODg4ODw4ODg8qDg4PKg4ODw4ODg8ODg4ODg8ODg4ODg8ODg4PDQ8ODg4PDg4ODg4PKg4rDg4PDg4ODg4PDg4ODg4PDg4ODw4OKg8qDg4PDg4ODg4PDg4ODw4ODg4ODw4ODg4ODw4ODg8ODg4ODg8ODg4ODg8ODg4ODw4qDyoODg8ODg4ODg8ODg4PDg4ODg4PDg4ODg4PDg4ODw4ODg4rDg4ODg8ODg4ODw4qDw4OAA0FAAAAAA==
        command_off: JgBQAg0PDBANEA4ODg4OAANEcTkOKw4ODg8ODg4rDg4ODw4ODg4OKw4ODisOKw4ODisOKw4rDioMLQ4ODg8MLQ4ODg4MEQwQDg4NEAwQDBANEAwQDC0MEA4rDg8ODg4ODisOKw4ODg8ODg4ODg8ODg4ODg8ODg4PDg4ODg4PDg4ODg4PDioPKg4rDg4OKw4ODyoOKw4ABHpvOwwtDBAMEQwQDC0MEAwQDRAMEAwtDBAMLQwtDBAMLQwtDCwNKw0tDBAMEQwsDRAMEA4ODRAMEA4PDQ8ODg4PDg4ODg4rDg8ODg4ODg8OKg4PDg4ODw4qDg8OKg8qDisODg4rDg4PDg4ODg8ODg4ODg8OKg8ODg4OKw4ODg8OKg8qDgAEenE5DisODg4PDg4OKw4ODg8ODg4ODisODg8qDisODg4rDisOKw4qDisODg4PDisODg4ODg8ODg4ODg8ODg4PDg4ODg4PDg4ODg4PDg4ODw4ODg4ODw4ODg4OKw4rDisODg4ODg8ODg4rDg4OKw4rDg4ODg4PDg4ODw4ODg4ODw4ODg8NDwwQDg8ODg4ODSwODg0sDBENDwwQDg8ODgwQDg8MEAwRDBAMEA0QDBAMEA0QDBAMEQwsDSwMEA0QDBAMEQwQDBANEAwQDBANEAwtDCwNEAwQDBANEAwQDBEMEAwQDRAMEAwRDBAMEAwRDBAMEAwRDBAMEA0QDBANEAwQDC0MLA0QDBAMEQwQDBAMEQwQDBANEAwQDBEMEAwQDBEMEAwQDRAMEAwtDBAMEQwQDC0MEAwADQUAAAAAAAAAAA==
      upstairs_tv:
        friendly_name: TV
        command_on: JgBIAAABJZcQFRAVEBUQFREVEBUQORAVETkQOhA5EDoQORE5EBUQOhAVEDkRFRAVEDoQFRAVEBUQOhAVEDkRORAVEDoQORA6EAANBQ==
        command_off: JgBIAAABJZcQFRAVEBUQFREVEBUQORAVETkQOhA5EDoQORE5EBUQOhAVEDkRFRAVEDoQFRAVEBUQOhAVEDkRORAVEDoQORA6EAANBQ==
      upstairs_speaker:
        friendly_name: Speaker
        command_on: JgBQAAABJpYQFBAUEBUQFBAUEBUQORAVEDkQOhA5EDoQORE5EBQRORAUEBUQFBAUEDoQFBAVEBQQORE5EDoQOQ8WDzoPOw86EAAF2AABJk0QAA0FAAAAAAAAAAA=
        command_off: JgBQAAABJpYQFBAUEBUQFBAUEBUQORAVEDkQOhA5EDoQORE5EBQRORAUEBUQFBAUEDoQFBAVEBQQORE5EDoQOQ8WDzoPOw86EAAF2AABJk0QAA0FAAAAAAAAAAA=
  - platform: rest
    resource: http://nodemcu.middle.earth/ac
    name: Downstairs AC

device_tracker:
  - platform: ping
    consider_home: 1200 # 20 min
    hosts:
      anu: Redmi4X-Redmi
      kt: mia2lite
  - platform: nmap_tracker
    hosts:
      - Redmi4X-Redmi
      - mia2lite

input_boolean:
  we_are_in_bed:
    name: We are in bed at night
    initial: off
    icon: mdi:bed-empty

light:
# Example configuration.yaml entry
  - platform: flux_led
    devices:
      smart_light.middle.earth:
        name: Bedroom Light
        mode: w
        # protocol: ledenet

notify:
  - name: pushbullet
    platform: pushbullet
    api_key: {{pushbullet_access_token}}

recorder:
  purge_keep_days: 14
  purge_interval: 1

# group: !include groups.yaml
automation: !include automations.yaml
# script: !include scripts.yaml
