[Unit]
Description=Deluge Bittorrent Client Web Interface
After=network-online.target
After=deluged.service
Requires=deluged.service
PartOf=deluged.service

[Service]
Type=simple

User=ubuntu
Group=ubuntu
UMask=027

ExecStart=/usr/bin/deluge-web -d

Restart=on-failure

[Install]
WantedBy=multi-user.target
WantedBy=deluged.service

