<!--{{ansible_managed}} -->
<head>
    <title>Gondor</title>
    <style type="text/css">
        html{
            width: 100%;
            height: 100%;
        }
        body{
            background-image: url("https://images.unsplash.com/photo-1737304697097-62a820f71964?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
            background-size: cover;
        }
        div.service-body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75%;
        }
        div.container{
            display: flex;
            flex-direction: row;
            padding: 10px;
            background-color: rgba(255,255,255,0.7);
            border-radius: 25px;
            width: 75%;
            flex-wrap: wrap;
        }
        div.service{
       		padding: 20px;
//            background-color: rgba(255,255,255,0.7);
 //           border-radius: 25px;
        }
        .name{
        	display: flex;
            justify-content: center;
            font-size: 20pt;
        }
    </style>
</head>

<body>
<div class="service-body">
<div class="container">
    {% for service in (proxied_services +linked_services)%}
    <div class="service">
    <a href="{{service.link_to | default("http://" + service.name + ".middle.earth" if(service['subdomain'] is defined) else "/" + service.name)}}/">
    	<img src={{service.icon}} style="height:100px">
    	<div class="name">{{service.name |capitalize}}</div>
    <!-- {{(service.name| replace("_"," ")).split(" ")| capitalize | join(" ")}} -->
    </a>
    </div>
    {% endfor %}
</div>
</div>
</body>
