set logfile /var/log/monit.log

# Alert if disk space of root filesystem gets low
check filesystem Archive with path /media/ubuntu/Archive
  if space free < 10 GB for 5 times within 15 cycles
    then {{alert}} else if succeeded for 10 cycles then {{alert}}
# Alert if disk space of root filesystem gets low
check filesystem Chest with path /media/ubuntu/Chest
  if space usage > 99% for 5 times within 15 cycles
    then {{alert}} else if succeeded for 10 cycles then {{alert}}

check file this_is_chest_drive with path /media/ubuntu/Chest/this_is_chest_drive
  if does not exist
  then exec "/home/ubuntu/remount_chest_drive.sh"
  else if succeeded
  then {{alert_and_start_deluged}}
  if does not exist for 2 cycles
	then {{alert_and_stop_deluged}}
  else if succeeded
  then {{alert_and_start_deluged}}

# Alert if disk space of root filesystem gets low
check filesystem rootfs2 with path /
  if space usage > 85% for 5 times within 15 cycles
    then {{alert}} else if succeeded for 10 cycles then {{alert}}

check system pine64.middle.earth
  if loadavg (1min) > 8 for 6 cycles then {{alert_succeeded}}
  if loadavg (5min) > 5 for 12 cycles then {{alert_succeeded}}
  if memory usage > 90% then {{alert_succeeded}}
  if cpu usage (user) > 95% for 2 cycles then {{alert_succeeded}}
  if cpu usage (system) > 95% for 2 cycles then {{alert_succeeded}}
  if cpu usage (wait) > 95% for 2 cycles then {{alert_succeeded}}

# I think content does not support "succeeded check".. makes sense..
check file flexget.log with path /home/ubuntu/.config/flexget/flexget.log
    if content = ".*CRITICAL.*" then {{alert}}
    if content = ".*ERROR.*" then {{alert}}

{% for service in proxied_services + other_services if "proc" in service %}
check process pine-{{service.name|lower|replace(" ", "_")}} matching '{{service.proc}}'
	if failed host {{service.host|default("localhost")}} port {{service.port}} then
		{{alert_succeeded}}
{% endfor %}