#{{ansible_managed}}
server {
	listen 80 default_server;
	listen [::]:80 default_server;
	root /var/www/html;
	server_name _;

	{% for service in proxied_services %}
	location /{{service.name}} {
	    proxy_set_header Host      $host:$server_port;
	    proxy_set_header X-Real-IP $remote_addr;
    	proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
    	proxy_set_header X-Deluge-Base "/deluge/";
		proxy_pass http://localhost:{{service.port}}/;
		proxy_redirect http://localhost:{{service.port}}/ $host:$server_port/{{service.name}}/;
		# https needed for webmin, / in the end needed for deluge, /in the end not needed for htpc
	}
	{% endfor %}

	location / {
	# First attempt to serve request as file, then
	# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}
}